In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('citibike.csv')

In [3]:
df.groupby(['usertype'])

In [4]:
df.groupby(['usertype']).groups

{'Customer': Int64Index([0, 3, 4, 15, 22], dtype='int64'),
 'Subscriber': Int64Index([ 1,  2,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20,
             21, 23, 24, 25, 26, 27, 28, 29],
            dtype='int64')}

In [5]:
df.groupby(['usertype']).first()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
usertype,,,,,,,,,,,,,,
Customer,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,NaN,0
Subscriber,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,1984.0,1

Средняя продолжительность поездок

In [6]:
df.groupby(['usertype'])[['tripduration']].mean()

            tripduration
usertype
Customer          952.40
Subscriber        766.48

In [7]:
df.groupby(['usertype'])['tripduration'].mean()

usertype
Customer      952.40
Subscriber    766.48
Name: tripduration, dtype: float64

In [8]:
df.groupby(['usertype', 'start station name'])[['tripduration']].mean()

                                        tripduration
usertype   start station name
Customer   Greenwich Ave & 8 Ave               571.0
           W 20 St & 11 Ave                    695.5
           W 22 St & 8 Ave                    2229.0
Subscriber 6 Ave & Canal St                   1145.0
           8 Ave & W 33 St                     351.0
           Barrow St & Hudson St              1226.0
           E 11 St & 2 Ave                     659.0
           E 13 St & Avenue A                  556.0
           E 33 St & 2 Ave                     464.0
           E 85 St & York Ave                 1353.0
           Franklin Ave & Myrtle Ave           777.0
           Fulton St & Broadway                472.0
           Greenwich St & W Houston St        1883.5
           Henry St & Atlantic Ave             362.0
           Lafayette St & E 8 St              1113.5
           MacDougal St & Prince St            442.5
           Maiden Ln & Pearl St                306.0
           N 8 St & Driggs Ave                 191.0
           S 3 St & Bedford Ave                492.0
           Suffolk St & Stanton St             209.0
           W 11 St & 6 Ave                     639.0
           W 20 St & 11 Ave                    672.0
           W 33 St & 7 Ave                     328.0
           W 43 St & 10 Ave                   1442.0

In [9]:
df.groupby(['usertype']).agg({'tripduration': sum, 'starttime': 'first'})

            tripduration          starttime
usertype
Customer            4762  7/1/2016 00:00:02
Subscriber         19162  7/1/2016 00:00:18

In [10]:
df.groupby(['usertype']).agg({'tripduration': [sum, min], 'starttime': 'first'})

           tripduration               starttime
                    sum  min              first
usertype
Customer           4762  533  7/1/2016 00:00:02
Subscriber        19162  191  7/1/2016 00:00:18

In [11]:
df.groupby(['usertype']).agg({'tripduration': [lambda x: max(x) + 1], 'starttime': 'first'})

           tripduration          starttime
               <lambda>              first
usertype
Customer           2230  7/1/2016 00:00:02
Subscriber         2200  7/1/2016 00:00:18