In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv('201809-citibike-tripdata.csv')

In [3]:
db.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Найти общее количество строк и столбцов в датасете - указать первым число строк, вторым - число столбцов

In [4]:
db.shape

(1877884, 15)

Найти среднюю длину поездок в минутах(столбец tripduration) c точностью до 2 знака

In [5]:
round(db['tripduration'].apply(lambda x: x / 60).mean(), 2)

16.13

Сколько поездок начались и закончились в той же самой станции?

In [6]:
db[db['start station id'] == db['end station id']].shape

(41364, 15)

Какой самый используемый байк(bikeid) в городе по количеству поездок?

In [7]:
db.groupby(['bikeid']).size().reset_index(name='count').sort_values('count')

       bikeid  count
10890   34904      1
3000    19420      1
7560    29726      1
4354    24763      1
10630   34431      1
...       ...    ...
10108   33878    532
10098   33868    533
10567   34357    549
10003   33772    549
10105   33875    559

[10892 rows x 2 columns]

Найдите идентификатор велосипеда (bikeid), у которого в среднем продолжительность поездок выше, чем у всех остальных

In [8]:
db.groupby(['bikeid']).agg({'tripduration': 'mean'}).sort_values('tripduration')

         tripduration
bikeid
32379       64.000000
25612       72.000000
14761      182.666667
34896      217.200000
22368      224.111111
...               ...
18041   103932.100000
19083   335620.142857
17431   394605.833333
28520   417717.000000
17548   488022.400000

[10892 rows x 1 columns]

Сколько строк, в которых отсутствуют данные о start station id?

In [9]:
db[db['start station id'].isnull() != False].shape

(716, 15)

Какова средняя продолжительность поездки в минутах в зависимости от типа подписки c точностью до 2 знака?

In [10]:
db.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [11]:
tmp = db.groupby('usertype')['tripduration'].mean()

In [12]:
round(tmp / 60, 2)

usertype
Customer      33.42
Subscriber    13.33
Name: tripduration, dtype: float64

Найдите среднюю длину поездок в километрах с точностью до 2 знака, предварительно выкинув замкнутые траектории(те у которых совпадают start station id = end station id).

Hint: можно воспользоваться библиотекой geopy и взять расстояние vincenty(минимальное расстояние между точками)

In [13]:
new = db[db['start station id'] != db['end station id']]
new.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

cos(d) = sin(φА)·sin(φB) + cos(φА)·cos(φB)·cos(λА − λB),

где φА и φB — широты, λА, λB — долготы данных пунктов, d — расстояние между пунктами, измеряемое в радианах длиной дуги большого круга земного шара. 
Расстояние между пунктами, измеряемое в километрах, определяется по формуле:

L = d·R,

где R = 6371 км — средний радиус земного шара.

In [14]:
import math

In [15]:
d = np.sin(db['start station latitude'] * (math.pi/180)) * np.sin(db['end station latitude'] * (math.pi/180)) + np.cos(db['start station latitude'] * (math.pi/180)) * np.cos(db['end station latitude'] * (math.pi/180)) * np.cos(db['start station longitude']* (math.pi/180) - db['end station longitude'] * (math.pi/180))

d

0          1.000000
1          1.000000
2          0.999999
3          1.000000
4          1.000000
             ...
1877879    1.000000
1877880    1.000000
1877881    1.000000
1877882    1.000000
1877883    1.000000
Length: 1877884, dtype: float64

In [16]:
d = np.arccos(d)
d

/Users/linuxoid/.virtualenvs/dl4cv/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

0          0.000785
1          0.000052
2          0.001513
3          0.000144
4          0.000089
             ...
1877879    0.000067
1877880    0.000067
1877881    0.000876
1877882    0.000141
1877883    0.000649
Length: 1877884, dtype: float64

In [17]:
L = 6371 * d
L

0          5.004407
1          0.330002
2          9.637777
3          0.914377
4          0.568250
             ...
1877879    0.429131
1877880    0.429131
1877881    5.577823
1877882    0.899770
1877883    4.131884
Length: 1877884, dtype: float64

In [18]:
round(L.sum() / len(L), 2)

1.81

Выберите станцию (start station id) с максимальным количеством отправлений с 18 до 20 вечера включительно

In [19]:
db['starttime'] = pd.to_datetime(db['starttime'])

In [20]:
dbbb = db['starttime'].dt.strftime('%H:%M:%S')
dbbb.head()

0    00:00:05
1    00:00:11
2    00:00:20
3    00:00:21
4    00:00:27
Name: starttime, dtype: object

In [21]:
db1 = db.loc[db['starttime'].dt.strftime('%H:%M:%S').between('18:00:00', '20:00:00')]

In [22]:
db1.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1871326,173,2018-09-30 20:00:00.209,2018-09-30 20:02:53.7740,466.0,W 25 St & 6 Ave,40.743954,-73.991449,491.0,E 24 St & Park Ave S,40.740964,-73.986022,32844,Subscriber,1996,2
1871328,1370,2018-09-30 20:00:00.742,2018-09-30 20:22:50.8920,3137.0,5 Ave & E 73 St,40.772828,-73.966853,479.0,9 Ave & W 45 St,40.760193,-73.991255,30019,Customer,1969,0
1875760,390,2018-09-30 18:00:45.071,2018-09-30 18:07:15.1830,3322.0,12 St & 4 Ave,40.668603,-73.990439,3306.0,10 St & 7 Ave,40.666208,-73.981999,33893,Subscriber,1965,1
1877877,2025,2018-09-29 19:19:13.879,2018-09-29 19:52:59.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,31521,Subscriber,1963,1
1877878,228,2018-09-29 19:29:49.623,2018-09-29 19:33:37.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,28646,Subscriber,2002,1

In [23]:
db1.groupby(['start station id']).size().reset_index(name='count').sort_values('count')

     start station id  count
665            3567.0      6
563            3432.0      6
473            3333.0     12
765            3704.0     16
688            3590.0     17
..                ...    ...
214             477.0   1994
199             459.0   2103
175             426.0   2218
155             402.0   2368
250             519.0   2823

[767 rows x 2 columns]

Выберите идентификаторы станций(end station id), в которые приезжают с 6 до 10 утра включительно

In [24]:
db['stoptime'] = pd.to_datetime(db['stoptime'])

In [25]:
db_2 = db.loc[db['stoptime'].dt.strftime('%H:%M:%S').between('06:00:00', '10:00:00')]

In [26]:
db_2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1700,22594,2018-09-01 03:00:25.108,2018-09-01 09:16:59.880,325.0,E 19 St & 3 Ave,40.736245,-73.984738,3632.0,E 12 St & Avenue B,40.728049,-73.978812,33173,Subscriber,1995,1
1981,10519,2018-09-01 04:22:13.303,2018-09-01 07:17:32.532,3693.0,N 11 St & Kent Ave,40.722482,-73.959219,3129.0,Queens Plaza North & Crescent St,40.751102,-73.940737,27683,Customer,1969,0
2000,11720,2018-09-01 04:27:50.096,2018-09-01 07:43:10.265,3369.0,E 82 St & East End Ave,40.772461,-73.946821,3369.0,E 82 St & East End Ave,40.772461,-73.946821,34006,Customer,1990,1
2001,11741,2018-09-01 04:27:49.892,2018-09-01 07:43:31.268,3369.0,E 82 St & East End Ave,40.772461,-73.946821,3369.0,E 82 St & East End Ave,40.772461,-73.946821,33950,Customer,1998,1
2029,12256,2018-09-01 04:40:31.250,2018-09-01 08:04:48.153,3068.0,Humboldt St & Varet St,40.703172,-73.940636,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,33890,Customer,1969,0

In [27]:
db_2['end station id']

1700       3632.0
1981       3129.0
2000       3369.0
2001       3369.0
2029       3106.0
            ...
1873623     229.0
1877050     423.0
1877704     536.0
1877745    3461.0
1877881     471.0
Name: end station id, Length: 340521, dtype: float64

In [28]:
fff = db_2.groupby(['end station id']).size().reset_index(name='count').sort_values('count')

In [29]:
fff.head()

     end station id  count
415          3240.0      1
421          3254.0      5
414          3239.0      6
719          3621.0      7
380          3154.0      7

In [30]:
fff[fff['end station id'] == 3140]

     end station id  count
367          3140.0    485

In [31]:
fff[fff['end station id'] == 3106]

     end station id  count
337          3106.0    115

In [32]:
fff[fff['end station id'] == 3116]

     end station id  count
345          3116.0    169

In [33]:
fff[fff['end station id'] == 369]

     end station id  count
131           369.0    261