In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])

In [3]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
ss = pd.Series([1, 2, 3, 4])
ss

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
d = {'Moscow': 1000, 'London': 2000, 'New York': 4000, 'Barcelona': None}

In [7]:
cities = pd.Series(d)
cities

Moscow       1000.0
London       2000.0
New York     4000.0
Barcelona       NaN
dtype: float64

In [8]:
cities['London']

2000.0

In [9]:
cities[['Moscow', 'Barcelona', 'London']]

Moscow       1000.0
Barcelona       NaN
London       2000.0
dtype: float64

In [10]:
cities < 3000

Moscow        True
London        True
New York     False
Barcelona    False
dtype: bool

In [11]:
cities[cities < 3000]

Moscow    1000.0
London    2000.0
dtype: float64

In [12]:
cities['Moscow'] = 545445

In [13]:
cities

Moscow       545445.0
London         2000.0
New York       4000.0
Barcelona         NaN
dtype: float64

In [14]:
cities[cities < 3000] = 3500

In [15]:
cities

Moscow       545445.0
London         3500.0
New York       4000.0
Barcelona         NaN
dtype: float64

In [16]:
cities * 3

Moscow       1636335.0
London         10500.0
New York       12000.0
Barcelona          NaN
dtype: float64

In [18]:
cities[cities.isnull()]

Barcelona   NaN
dtype: float64

In [20]:
cities[cities.notnull()]

Moscow      545445.0
London        3500.0
New York      4000.0
dtype: float64